@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #8b5cf6, #ec4899);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h1{
    color: white;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.container{
    background: #ffffffd8;
    width: 90%;
    max-width: 450px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

/* Input + Button */
label{
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 2px solid #d1d5db;
    outline: none;
    transition: 0.3s;
}

input:focus{
    border-color: #ec4899;
}

#addTask{
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: none;
    background: #ec4899;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

#addTask:hover{
    background: #db2777;
}

/* Task List */
#list{
    margin-top: 20px;
    list-style: none;
}

.main{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    align-items: center;
    border-left: 5px solid #ec4899;
    gap: 8px;
}

.main li{
    font-size: 17px;
    color: #444;
    font-weight: 500;
}

/* Edit & Delete Buttons */
.main div{
    display: flex;
    gap: 8px;
}

.main button{
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.main button:nth-child(1){
    background: #3b82f6;
    color: white;
}

.main button:nth-child(1):hover{
    background: #2563eb;
}

.main button:nth-child(2){
    background: #ef4444;
    color: white;
}

.main button:nth-child(2):hover{
    background: #dc2626;
}

